.guarantee {
  &__list {
    @extend .lw-info-card-list;

    @include m-b-laptop-down {
      grid-template-columns: repeat(3, 1fr);
    }

    @include m-b-tablet-lg-down {
      grid-template-columns: 1fr;
    }
  }
}

.text{
  fill            : none;
  stroke          : black;
  stroke-width    : .5px;
  stroke-linejoin : round;
  animation       : 2s pulsate infinite;
}
