a(href="https://littleweb.ru/" rel="noopener nofollow norefferer" aria-label="LittleWeb.ru - создание сайтов под ключ").developer-link
  img( src="./assets/img/icon-developer.svg" width="168" height="44")
