nav.nav
  ul.nav__list
    li.nav__list-item
      a(href="#company").anchor-link О компании
    li.nav__list-item
      a(href="#portfolio").anchor-link Примеры работ
    li.nav__list-item
      a(href="#licenses").anchor-link Лицензии и Сертификаты
    li.nav__list-item
      a(href="#delivery").anchor-link Доставка и оплата
    li.nav__list-item
      a(href="#contacts").anchor-link Контакты
    //li.nav__list-item.nav__list-item--confidentiality
      a(href="#") Политика конфиденциальности

  .nav__info
    include ../includes/company-phone
    include ../includes/company-worktime
  .nav__footer
    include ../includes/company-logo





