nav.nav
  .nav__line(aria-hidden="true")
  button(type="button" aria-label="Закрыть меню").nav-closer
    svg(width="20" height="20")
      use(xlink:href="./assets/sprite.svg#icon-close")
  ul.nav__list
    li.nav__list-item
      a(href="#company").anchor-link О компании
    li.nav__list-item
      a(href="#portfolio").anchor-link Примеры работ
    li.nav__list-item
      a(href="#licenses").anchor-link Лицензии и Сертификаты
    li.nav__list-item
      a(href="#delivery").anchor-link Доставка и оплата
    li.nav__list-item
      a(href="#contacts").anchor-link Контакты

  .nav__info
    include ../includes/company-phone
    include ../includes/company-worktime
  .nav__footer
    include ../includes/company-logo





