include ../mixins/main-input
include ../mixins/custom-select

form(action='mail.php' id="offer-form").offer-form
  <input type="hidden" class="g-recaptcha-response" name="recaptcha">
  <input type="hidden" name="Заполненная форма" value="Рассчитать стоимость" id="offer-form-title">
  <input type="hidden" name="Тип двери" value="" id="callback-form-door-type">
  .offer-form__field
    +custom-select({
      id: 'door_type',
      cls: 'common-custom-select',
      options: [
        { value: 'type_0', name: 'Выберите тип двери', isSelected: true},
        { value: 'type_1', name: 'Противопожарные двери'},
        { value: 'type_2', name: 'Технические двери'},
        { value: 'type_3', name: 'Двери для входных групп (подъездные двери)'},
        { value: 'type_4', name: 'Тамбурные двери'},
        { value: 'type_5', name: 'Двери для лифтовых и приквартирных холлов'},
        { value: 'type_4', name: 'Ворота и люки'},
      ]
    })
  .offer-form__field
    +main-input({
      type: 'text',
      placeholder: 'Размеры: например 2000 х 2000 мм',
      id: 'door_size',
      name: 'Размер двери'
    })
  .offer-form__field
    +main-input({
      type: 'text',
      placeholder: 'Имя*',
      id: 'user_name',
      required: true,
      name: 'Имя'
    })
  .offer-form__field
    +main-input({
      type: 'text',
      placeholder: 'Электронная почта',
      id: 'user_email',
      name: 'E-mail'
    })
  .offer-form__field
    +main-input({
      type: 'tel',
      placeholder: 'Телефон*',
      required: true,
      id: 'user_phone',
      name: 'Телефон'
    })

  .offer-form__footer
    button(type="submit").lw-main-btn Рассчитать стоимость
    small Нажимая на кнопку вы соглашаетесь с&nbsp;<a href="#" data-modal-anchor="law">обработкой персональных</a> данных.
