.tags
  +custom-select({
    id: 'portfolio-tags',
    cls: 'portfolio-custom-select',
    options: [
      { value: '0', name: '# Все двери', isSelected: true},
    ]
  })

  .tags__list
    button(type="button" data-value="0").lw-main-btn.active-tag # Все двери

    template#tag-list-button-template
      button(type="button" data-value="").lw-main-btn
