extends layouts/main-layout.pug

block variables
  -
    const title = "Завод металлических дверей"
    const desc = "Производство противопожарных дверей в Санкт-Петербурге"
    const keywords = ""

block content
  include ./views/index-page-template

block modals
  include ./modals/callback-modal
  include ./modals/success-modal
  include ./modals/error-modal
