include ../mixins/state-modal

+state-modal({
  cls: 'error-modal',
  id: 'error-modal',
  icon: 'error',
  title: 'Ошибка отправки!',
  text: 'К сожалению, что-то пошло не так... Попробуйте снова!',
})
