include ../mixins/state-modal

+state-modal({
  cls: 'error-modal',
  id: 'error-modal',
  icon: 'error',
  title: 'Ошибка отправки!',
  text: 'Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения.',
})
