include ../mixins/state-modal

+state-modal({
  cls: 'success-modal',
  id: 'success-modal',
  icon: 'success',
  title: 'Ваша заявка успешно отправлена!',
  text: 'Таким образом дальнейшее развитие различных форм деятельности требуют'
})
