include ../../mixins/section-title
include ../../mixins/main-btn

section.company#company
  .lw-container.company__container
    .company__side
      +section-title({
        tag: 'h2',
        title: 'О&nbsp;<span>компании</span>'
      })

      .lw-text-content
        p Начиная с замера проемов, с помощью опытных замерщиков и инженера-конструктора мы стремимся учесть все особенности и нюансы объекта. Насколько грамотно будут сделаны замеры, выбрана комплектация и указаны все особенности монтажа, зависит окончательный результат изготовления металлической двери.
        p Производство металлических дверей, в особенности противопожарных дверей – процесс достаточной ответственный, требующий определенных знаний и профессионализма. Все производимые конструкции соответствуют всем необходимым нормам и требованиям.
        p Все работы, связанные с монтажом и обслуживанием металлических дверей, выполняют профессиональные бригады монтажников. Если требуется изготовить и установить противопожарную дверь, то мы на законном основании можем выполнить такой заказ.
        p Наша компания имеет лицензию МЧС на выполнение монтажных работ противопожарных конструкций. Наша компания, предоставляет гарантию на производимую продукцию, поэтому к замерам, производству и к монтажу подходим профессионально, чтобы готовые изделия были надежны и служили долгое время.
        p Обратившись к нам за комплексом услуг, Вы избежите многих проблем и гарантированно сдадите свой объект контролирующим органам.

      +main-btn({
        title: 'Связаться с менеджером',
        cls: 'lw-section-btn js-callback-modal-opener',
        modal: 'callback',
        url: '#',
      })
    .company__side.pattern-container
      .pattern-wrapper
        picture
          source(type="image/webp" srcset="./assets/img/company-img.webp 1x, ./assets/img/company-img@2x.webp 2x")
          img(src="./assets/img/company-img.jpg" srcset="./assets/img/company-img@2x.jpg 2x" alt="О компании" width="480" height="600")


