include ../../mixins/section-title
include ../../mixins/main-btn

section.delivery#delivery
  .lw-container.delivery__container
    +section-title({
      tag: 'h2',
      title: 'Доставка и <span>монтаж</span>'
    })
    .delivery__side
      .lw-text-content
        p При заказе монтажа изделий Вы получаете их доставку в черте КАД Санкт-Петербурга бесплатно.
        p Зона бесплатной доставки – таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения.
        p Стоимость доставки без монтажа – <strong>от&nbsp;3000&nbsp;руб</strong>.

      +section-title({
        tag: 'h2',
        title: '<span>Оплата</span>'
      })

      .lw-text-content
        p Для оформления счета Вам необходимо выслать Ваши реквизиты на электронную почту: <a href="mailto:office@ksbdoors.ru">office@ksbdoors.ru</a>

        p Счет на оплату формируется на основании согласованной спецификации.

        p Заказ передается на производство после поступления оплаты на наш расчетный счет.

        p Для получения более подробной информации по условиям оплаты обращайтесь к нашим менеджерам по телефону: <a href="tel:88126029432" class="company-phone">+7 (812) 602-94-32</a>

      +main-btn({
        title: 'Связаться с менеджером',
        cls: 'js-callback-modal-opener',
        modal: 'callback',
        dataModalTitle: 'Связаться с менеджером',
        dataModalText: 'Заполните форму, и мы перезвоним Вам',
        url: '#',
      })

    .delivery__side.pattern-container
      .pattern-wrapper
        picture
          source(type="image/webp" srcset="./assets/img/map-img.webp 1x, ./assets/img/map-img@2x.webp 2x")
          img(loading="lazy" src="./assets/img/map-img.jpg" srcset="./assets/img/map-img@2x.jpg 2x" alt="Доставка в черте города - бесплатно" width="600" height="600")
