include ../../mixins/section-title

section.delivery
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Доставка и <span>монтаж</span>'
    })

    +section-title({
      tag: 'h2',
      title: '<span>Оплата</span>'
    })
