include ../../mixins/section-title

section.delivery
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Доставка и монтаж'
    })

    +section-title({
      tag: 'h2',
      title: 'Оплата'
    })
