include ../../mixins/section-title
include ../../mixins/info-card

section.features.lw-alt-bg#features
  .lw-container
    +section-title({
      tag: 'h2',
      title: '<span>Преимущества</span>'
    })

    ul.features__list
      li
        +info-card({
          icon: 'guarantee',
          title: 'Сертификаты и&nbsp;лицензии',
          text: '<p>Все выпускаемые на производстве изделия имеют необходимые сертификаты.</p><p>Противопожарные двери сопровождаются Паспортом изделия, и шильдой.</p> <p>Для выполнения монтажных работ мы получили Лицензию МЧС</p>'
        })

      li
        +info-card({
          icon: 'user',
          title: 'Индивидуальный подход',
          text: '<p>Изготавливаем двери, люки, ворота по Вашим размерам и в индивидуальной комплектации.</p><p>Окрашиваем изделия в нужный цвет.</p>'
        })

      li
        +info-card({
          icon: 'installation',
          title: 'Автоматизированая линия <br>с контролем ОТК',
          text: '<p>Мы имеем развитые производственные мощности, ориентированные как на индивидуальные заказы, так и на оптовые поставки противопожарных дверей, технических дверей, ворот, люков.</p><p>Каждое изделие, выпущенное с нашего производства, проходит контроль ОТК.</p>'
        })

      li
        +info-card({
          icon: 'machine',
          title: 'Монтаж в день доставки',
          text: '<p>Наличие собственного автопарка и штат монтажных бригад, позволяет приступать к монтажным работам в день доставки заказа на объект.</p>'
        })

      li
        +info-card({
          icon: 'price',
          title: 'Цены от производителя',
          text: '<p>Гибкое ценообразование и оптимальные условия сотрудничества.</p>'
        })

      li
        +info-card({
          icon: 'calendar',
          title: 'Короткие сроки',
          text: '<p>Настроенный производственный процесс, позволяет выполнять срочные заказы со сроками изготовления от 2-3 дней.</p>'
        })
