include ../../mixins/section-title
include ../../mixins/main-btn

section.hero#hero
  .lw-container.hero__container

    .hero__underlay-bg(aria-hidden="true")

    .hero__content
      .hero__content-side
        +section-title({
          tag: 'h1',
          title: 'Металлические двери <span>от&nbsp;производителя</span>'
        })

        p.hero__text
          <span>Собственное производство в Санкт-Петербурге, география поставок - вся Россия.</span>
          <span>С 2008 года снабжаем строительные объекты и промышленные предприятия защитными конструкциями.</span>
          <span>Изготовили более 160 000 дверей!</span>
          <span>Вся производимая продукция выполнена из современных материалов и отвечает всем ГОСТам, СНиП и Нормам ПБ.</span>

        ul.hero__list
          li Противопожарные двери
          li Технические двери
          li Двери для входных групп (подъездные двери)
          li Тамбурные двери
          li Двери для лифтовых и приквартирных холлов
          li Ворота и люки

        +main-btn({
          title: 'Вызвать замерщика',
          cls: 'js-callback-modal-opener',
          dataModalTitle: 'Заказать замер',
          dataModalText: 'Заполните форму, и мы перезвоним Вам, чтобы назначить дату замера',
          modal: 'callback',
          url: '#',
          notice: '*Выезд замерщика на объект в черте КАД бесплатный'
        })
      .hero__content-side.pattern-container
        .pattern-wrapper
          picture
            source(type="image/webp" srcset="./assets/img/hero-img.webp 1x, ./assets/img/hero-img@2x.webp 2x")
            img(src="./assets/img/hero-img.jpg" srcset="./assets/img/hero-img@2x.jpg 2x" alt="Изображение производства" width="740" height="540")
