include ../../mixins/section-title
include ../../mixins/main-btn

section.hero#hero
  .lw-container.hero__container

    .hero__underlay-bg(aria-hidden="true")

    .hero__content
      .hero__content-side
        +section-title({
          tag: 'h1',
          title: 'Производство  <span>дверей</span>'
        })

        p.hero__text Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения.

        ul.hero__list
          li Противопожарные двери
          li Технические двери
          li Двери для входных групп (подъездные двери)
          li Тамбурные двери
          li Двери для лифтовых и приквартирных холлов

        +main-btn({
          title: 'Вызвать замерщика',
          cls: 'js-callback-modal-opener',
          modal: 'callback',
          url: '#',
          notice: '*Выезд замерщика на объект в черте КАД бесплатный'
        })
      .hero__content-side.pattern-container
        .pattern-wrapper
          //img(src="./assets/img/hero-img.jpg" alt="Изображение производства" width="740" height="540")

          picture
            source(loading="lazy" type="image/webp" srcset="./assets/img/hero-img.webp 1x, ./assets/img/hero-img@2x.webp 2x")
            img(loading="lazy" src="./assets/img/hero-img.jpg" srcset="./assets/img/hero-img@2x.jpg 2x" alt="Изображение производства" width="740" height="540")
