include ../../mixins/section-title
include ../../mixins/main-slider

section.licenses#licenses
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Лицензии и <span>сертификаты</span>'
    })

    +main-slider({
      cls: 'licenses__slider',
      fancyboxGallery: 'licenses',
      slides: [
        {
          img: 'licenses/license_1',
          imgWidth: '320',
          imgHeight: '450',
          limitStr: 75,
          txt: 'Заключение сан.эпид. экспертизы 1 стр'
        },

        {
          img: 'licenses/license_2',
          imgWidth: '320',
          imgHeight: '450',
          limitStr: 75,
          txt: 'Заключение сан.эпид. экспертизы 2 стр'
        },
      ]
    })


