include ../../mixins/section-title
include ../../mixins/main-slider

section.licenses#licenses
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Лицензии и <span>сертификаты</span>'
    })

    +main-slider({
      cls: 'licenses__slider',
      fancyboxGallery: 'licenses',
      slides: [
        {
          img: 'licenses/license_1',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Лицензия МЧС(1 стр.)'
        },

        {
          img: 'licenses/license_2',
          imgWidth: '303200',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Лицензия МЧС(2 стр.)'
        },

        {
          img: 'licenses/license_3',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Санитарно-эпидемиологическое заключение(1 стр.)'
        },

        {
          img: 'licenses/license_4',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Санитарно-эпидемиологическое заключение(2 стр.)'
        },

        {
          img: 'licenses/license_5',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Санитарно-эпидемиологическое заключение(3 стр.)'
        },

        {
          img: 'licenses/license_6',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Сертификат на двери без порога'
        },

        {
          img: 'licenses/license_7',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Сертификат на двери'
        },

        {
          img: 'licenses/license_8',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Ворота ЕАЭС RU С-RU.ПБ74.В.00471.21 до 29.11.2026г.'
        },

        {
          img: 'licenses/license_9',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Люк ЕАЭС RU С-RU.ПБ74.В.00470.21 до 29.11.2026г.'
        },

        {
          img: 'licenses/license_10',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Отказное письмо(двери,ворота,люки)'
        },

        {
          img: 'licenses/license_9',
          imgWidth: '320',
          imgHeight: '480',
          limitStr: 75,
          txt: 'Скан отказного письма от 03.02.2014г'
        },
      ]
    })


