include ../../mixins/section-title
include ../../mixins/main-slider

section.objects#objects
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Наши <span>объекты</span>'
    })

    +main-slider({
      cls: 'licenses__slider',
      fancyboxGallery: 'objects',
      slides: [
        {
          img: 'objects/obj_1',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_2',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_3',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_4',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_5',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_6',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_7',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_8',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_9',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_10',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },
      ]
    })
