include ../../mixins/section-title
include ../../mixins/main-slider

section.objects#objects
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Наши <span>объекты</span>'
    })

    +main-slider({
      cls: 'objects__slider',
      fancyboxGallery: 'objects',
      slides: [
        {
          img: 'objects/obj_1',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'БЦ Лахта Центр'
        },

        {
          img: 'objects/obj_2',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Наши двери в ММДЦ Москва сити'
        },

        {
          img: 'objects/obj_3',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Стадион Газпром Арена'
        },

        {
          img: 'objects/obj_4',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'ТЦ Галерея'
        },

        {
          img: 'objects/obj_5',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Цирк на Фонтанке'
        },

        {
          img: 'objects/obj_6',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Государственный Эрмитаж'
        },

        {
          img: 'objects/obj_28',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Завод Силовые машины'
        },

        {
          img: 'objects/obj_18',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'ТЦ Мега (Дыбенко, Парнас)'
        },

        {
          img: 'objects/obj_31',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'МДОУ № 3 Лучик'
        },

        {
          img: 'objects/obj_7',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'БЦ Невская ратуша'
        },

        {
          img: 'objects/obj_27',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Кировский завод'
        },

        {
          img: 'objects/obj_23',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'ЖК 2 столицы'
        },

        {
          img: 'objects/obj_9',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Ленинградский зоопарк'
        },

        {
          img: 'objects/obj_29',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Завод Solofarm'
        },

        {
          img: 'objects/obj_33',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Морской торговый порт Усть-Луга МПК Юг 2'
        },

        {
          img: 'objects/obj_10',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'ФГБУ «НМИЦ им. В. А. Алмазова» Минздрава России'
        },

        {
          img: 'objects/obj_11',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'АЗС Лукойл'
        },

        {
          img: 'objects/obj_12',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'АЗС Тебойл'
        },

        {
          img: 'objects/obj_8',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Санкт-Петербургский научно-исследовательский институт эпидемиологии и микробиологии им. Пастера'
        },

        {
          img: 'objects/obj_13',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'ГБУ СШОР Пушкинского района'
        },

        {
          img: 'objects/obj_15',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Телецентр НТВ'
        },

        {
          img: 'objects/obj_16',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Госпиталь Ветеранов Войн'
        },

        {
          img: 'objects/obj_17',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Семья магазинов Магнит'
        },

        {
          img: 'objects/obj_14',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Телецентр Останкино'
        },

        {
          img: 'objects/obj_20',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Сетевые магазины X5 Retail Group'
        },

        {
          img: 'objects/obj_21',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Аквафор'
        },

        {
          img: 'objects/obj_24',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'ЖК Феникс г.Гатчина'
        },

        {
          img: 'objects/obj_25',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Детская больница им. П.Г.Выжлецова г.Архангельск'
        },

        {
          img: 'objects/obj_26',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Балтийский завод'
        },

        {
          img: 'objects/obj_22',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Жилой дом г.Лодейное поле, Лесная ул., д.18'
        },

        {
          img: 'objects/obj_30',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Библиотека № 4'
        },

        {
          img: 'objects/obj_32',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
          txt: 'Морской торговый порт Усть-Луга МПК Юг 2'
        },
      ]
    })
