include ../../mixins/section-title
include ../../mixins/main-slider

section.objects#objects
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Наши <span>объекты</span>'
    })

    +main-slider({
      cls: 'objects__slider',
      fancyboxGallery: 'objects',
      slides: [
        {
          img: 'objects/obj_1',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_2',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_3',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_4',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_5',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_6',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_7',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_8',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_9',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_10',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_11',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_12',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_13',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_14',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_15',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_16',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_17',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_18',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_20',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

                {
          img: 'objects/obj_21',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_22',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_23',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_24',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_25',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_26',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_27',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_28',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_29',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_30',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_31',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_32',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },

        {
          img: 'objects/obj_33',
          imgWidth: '320',
          imgHeight: '240',
          limitStr: 75,
        },
      ]
    })
