include ../../mixins/section-title

section.offer#offer
  .lw-container
    .offer__container
      .offer__side.offer__side--form-container
        +section-title({
          tag: 'h2',
          title: 'Рассчитать <span>стоимость</span>'
        })

        p.offer__desc Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения.

        include ../../components/offer-form

      .offer__side.offer__side--image-bg
        picture
          source(loading="lazy" type="image/webp" srcset="./assets/img/offer-img.webp 1x, ./assets/img/offer-img@2x.webp 2x")
          img(loading="lazy" src="./assets/img/offer-img.jpg" srcset="./assets/img/offer-img@2x.jpg 2x" alt="Рассчитать стоимость" width="600" height="600")

