include ../../mixins/section-title

section.portfolio.lw-alt-bg
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Наши <span>работы</span>'
    })

    .masonry
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_1.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_2.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_3.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_4.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_5.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_6.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_7.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_8.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_9.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_10.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_11.jpg" alt="Портфолио" width="100%" height="100%")
      .masonry-item
        img(src="./assets/img/portfolio/portfolio_12.jpg" alt="Портфолио" width="100%" height="100%")



