include ../../mixins/section-title
include ../../mixins/custom-select

section.portfolio.lw-alt-bg#portfolio
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Наши <span>работы</span>'
    })

    include ../../components/tags

    .masonry(data-fancybox-gallery="portfolio")
      .masonry-sizer
      .gutter-sizer
      .masonry-item
        img(data-fancybox-item data-tags="двустворчатые,с остеклением,с фрамугой,входные" src="./assets/img/portfolio/portfolio_1.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(data-fancybox-item data-tags="двустворчатые,с отбойниками,подъездные" src="./assets/img/portfolio/portfolio_2.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с фрамугой" src="./assets/img/portfolio/portfolio_3.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с фрамугой,подъездные" src="./assets/img/portfolio/portfolio_4.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с фрамугой,подъездные" src="./assets/img/portfolio/portfolio_5.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые" src="./assets/img/portfolio/portfolio_6.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="люк" src="./assets/img/portfolio/portfolio_7.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="люк" src="./assets/img/portfolio/portfolio_8.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="люк" src="./assets/img/portfolio/portfolio_9.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые" src="./assets/img/portfolio/portfolio_10.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые" src="./assets/img/portfolio/portfolio_11.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые" src="./assets/img/portfolio/portfolio_12.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые" src="./assets/img/portfolio/portfolio_13.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые" src="./assets/img/portfolio/portfolio_14.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые" src="./assets/img/portfolio/portfolio_15.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые" src="./assets/img/portfolio/portfolio_16.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,входные" src="./assets/img/portfolio/portfolio_17.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,двустворчатые,с вентиляцией" src="./assets/img/portfolio/portfolio_18.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,двустворчатые" src="./assets/img/portfolio/portfolio_19.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,с остеклением" src="./assets/img/portfolio/portfolio_20.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,с остеклением" src="./assets/img/portfolio/portfolio_21.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,с остеклением" src="./assets/img/portfolio/portfolio_22.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,с остеклением" src="./assets/img/portfolio/portfolio_23.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,с отбойниками" src="./assets/img/portfolio/portfolio_24.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,с отбойниками" src="./assets/img/portfolio/portfolio_25.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые" src="./assets/img/portfolio/portfolio_26.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="решетчатые" src="./assets/img/portfolio/portfolio_27.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="ворота" src="./assets/img/portfolio/portfolio_28.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="ворота" src="./assets/img/portfolio/portfolio_29.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="ворота" src="./assets/img/portfolio/portfolio_30.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="одностворчатые,люк" src="./assets/img/portfolio/portfolio_31.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые" src="./assets/img/portfolio/portfolio_32.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые" src="./assets/img/portfolio/portfolio_33.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением" src="./assets/img/portfolio/portfolio_34.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением" src="./assets/img/portfolio/portfolio_35.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением" src="./assets/img/portfolio/portfolio_36.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением" src="./assets/img/portfolio/portfolio_37.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением" src="./assets/img/portfolio/portfolio_38.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением,подъездные" src="./assets/img/portfolio/portfolio_39.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением,с отбойниками" src="./assets/img/portfolio/portfolio_40.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением,с отбойниками" src="./assets/img/portfolio/portfolio_41.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением,с фрамугой" src="./assets/img/portfolio/portfolio_42.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением,с фрамугой,входные" src="./assets/img/portfolio/portfolio_43.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,подъездные" src="./assets/img/portfolio/portfolio_44.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,подъездные,с фрамугой" src="./assets/img/portfolio/portfolio_45.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,подъездные" src="./assets/img/portfolio/portfolio_46.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением,с антипаникой" src="./assets/img/portfolio/portfolio_47.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с антипаникой" src="./assets/img/portfolio/portfolio_48.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с антипаникой" src="./assets/img/portfolio/portfolio_49.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с вентиляцией" src="./assets/img/portfolio/portfolio_50.jpg" alt="Портфолио" width="560" height="740")
      .masonry-item
        img(loading="lazy" data-fancybox-item data-tags="двустворчатые,с остеклением" src="./assets/img/portfolio/portfolio_51.jpg" alt="Портфолио" width="560" height="740")

    +main-btn({
      title: 'Показать еще',
      cls: 'portfolio__btn',
    })



