include ../../mixins/section-title

section.workflow#workflow
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Этапы <span>работ</span>'
    })

    ul.workflow__list
      li.workflow__list-item
        svg(width="50" height="32")
          use(xlink:href="./assets/sprite.svg#icon-01")

        span Мы принимаем от Вас заявку или техническое задание.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-02")

        span Менеджер отдела продаж подготавливает предварительное&nbsp;КП.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-03")

        span Наш специалист выезжает на&nbsp;объект для&nbsp;замера проемов.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-04")

        span Согласовываем спецификацию на&nbsp;изготовление.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-05")

        span На основании спецификации и&nbsp;после оплаты заказ запускаем в&nbsp;производство.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-06")

        span Осуществляется доставка на&nbsp;объект и&nbsp;приступаем к&nbsp;монтажным работам.

