include ../../mixins/section-title

section.workflow#workflow
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Этапы <span>работ</span>'
    })

    ul.workflow__list
      li.workflow__list-item
        svg(width="50" height="32")
          use(xlink:href="./assets/sprite.svg#icon-01")

        span Вы делаете звонок или отправляете заявку.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-02")

        span Менеджер отдела продаж в&nbsp;течении одного часа отправляет предварительное&nbsp;КП.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-03")

        span Выезд специалиста на&nbsp;замер.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-04")

        span Согласовываем договор и&nbsp;техническое задание.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-05")

        span Доставляем продукцию на объект.

      li.workflow__list-item
        svg(width="68" height="32")
          use(xlink:href="./assets/sprite.svg#icon-06")

        span Монтажные работы.

