include ../sections/index-page/hero
include ../sections/index-page/features
include ../sections/index-page/company
include ../sections/index-page/portfolio
include ../sections/index-page/workflow
include ../sections/index-page/guarantee
include ../sections/index-page/licenses
include ../sections/index-page/delivery
include ../sections/index-page/offer
include ../sections/index-page/objects
include ../sections/index-page/contacts
